<a name="notifications"></a>
<div class="contentband bottom-ruled autosize">
  <div class="row">
    <div class="small-12 large-12">
      <h1 class="page-title"><span class="header-icon sessions" style="text-indent: 0px">9</span>notifications</h1>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-12 column band-panel center">
      <table>
        <thead>
          <tr>
            <th>message</th>
            <th>datetime</th>
            <th>publisher</th>
            <th>type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let notification of notifications">
            <td align="left"><span [innerHTML]="notification.message"></span></td>
            <td align="left"><span [innerHTML]="notification.datetime"></span></td>
            <td align="left"><span [innerHTML]="notification.publisher"></span></td>
            <td align="left"><span [innerHTML]="notification.type"></span></td>
          </tr>
          <tr *ngIf="notifications.length === 0">
            <td colspan="4" align="left">No notifications available.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
